# Frontend
frontend/node_modules
frontend/.next
frontend/.pnp
frontend/.pnp.js
frontend/.yarn/install-state.gz
frontend/coverage
frontend/out
frontend/build
frontend/.DS_Store
frontend/*.pem
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.env*.local
frontend/.vercel
frontend/*.tsbuildinfo
frontend/next-env.d.ts

# Backend
backend/node_modules
backend/.env
backend/.DS_Store
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*

# General
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log
